/** Variables **/
$fonts: Aileron, "Helvetica Neue", Helvetica, Arial, sans-serif;
$c0: #421430;
$c1: #6D3B57;
$c2: #BF7EA1; //#9F6986;
$c3: #F9CFE5;
$c4: white;

/** LAYOUT **/
html {
  height: 100%;
}

body {
  display: flex;
  //flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;

  font-family: $fonts;
  color: $c0;
  background-color: $c4;
}

.sidebar {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 30%;

  height: 100%;
  box-sizing: border-box;
  padding: 20px;
  overflow: auto;
}

.editor {
  flex-grow: 3;
  flex-basis: 70%;

  height: 100%;
  overflow-y: auto;
  overflow-x: visible;
  box-sizing: border-box;
  padding: 20px;
  padding-left: 40px;
}

/** CONTAINER **/
@mixin container($first, $last) {
  padding: 20px;

  > #{$first}:first-child {
    margin-top: 0;
  }

  > #{$last}:last-child {
    margin-bottom: 0;
  }
}

/** PIOTR **/
.piotr-node {
  margin: 20px 0;
}

.piotr-paragraph {
  text-align: justify;
}

.editor > .piotr-node {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.editor > .piotr-isolated-node {
  width: auto;
}

.piotr-isolated-node.selected {
  outline: 3px solid rgba($c3, 0.5);
}

.piotr-heading {
  border-left: 0.5em solid $c3;
  padding-left: 0.5em;
  position: relative;
  right: 0.5em; // We only correct half because of centering.
}

/** IMAGE NODE **/
.piotr-image {
  //@include container(".image-surface", ".piotr-surface");

  background-color: $c3;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;

  .image-surface {
    margin: auto;
    height: 100%;
    padding: 0 20px;

    img {
      display: block;
      max-height: 100%;
      margin: auto;
    }
  }

  > .piotr-surface {
    width: 500px;
    margin: auto;
    color: $c0;
    //@include container(".piotr-node", ".piotr-node");
  }
}

.piotr-image__images {
  display: flex;
  height: 400px;
  overflow-x: auto;
}

/** IMAGE SURFACE **/
.image-surface {}

.image-surface--drag {
  background-color: $c2;
  display: flex;
  height: 10em;
}

.image-surface--drag p {
  text-align: center;
  font-size: 2em;
  margin: auto;
  color: $c4;
  font-weight: 700;
}

.drag-over {
  box-sizing: border-box;
  border: 20px dashed $c1;
}

/** TOOLBAR **/
.toolbar {
}

.toolbar button {
  display: inline-block;
  height: 30px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
